/ {
    chosen {
        zmk,kscan = &default_kscan;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "default_kscan";

        /* * 【核心修改】
         * 将原来的 &pro_micro 引脚别名
         * 替换为精确的 &gpio 引脚地址
         */
        input-gpios =
            <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  // P0.02，这是逻辑按键0
            <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // P1.15，这是逻辑按键1
    };
};
